$dark-blue = darken($blue, 25%)

#root, .container
  width 100vw
  height 100vh


.container
  container-v()
  background-image: linear-gradient(rgba($dark-blue, 0.51), rgba($dark-blue, 0.51)), url('/img/bg.png')
  background-attachment fixed
  background-size cover
  text-align center


.logo
  width: 35vw
  margin-bottom: 20px;
  -webkit-filter: drop-shadow(0 0 10px $green);
  filter: drop-shadow(0 0 10px $green);

  .logo-path
    fill: none
    stroke: $green
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation dash 5s linear forwards;


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
